@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333c4f;
  background-color: #fcfcfc;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb {
  background: #333c4f;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 83.75rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}
@media screen and (max-width: 835px) {
  [class$=__container] {
    padding-inline: 2.1875rem;
  }
}
@media screen and (max-width: 479.98px) {
  [class$=__container] {
    padding-inline: 1.25rem;
  }
}

.logo {
  width: 11.5rem;
  height: 4.625rem;
}
@media (max-width: 428px) {
  .logo {
    width: 8.75rem;
    height: 3.5rem;
  }
}
@media (max-width: 428px) {
  .logo {
    width: 8.75rem;
    height: 3.5rem;
  }
}
.logo__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-link {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 1.0625rem 3.375rem 1.125rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(51, 60, 79, 0.36);
          box-shadow: 0px 4px 16px 0px rgba(51, 60, 79, 0.36);
  text-align: center;
  background-color: #333c4f;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn-link.btn-link--blue {
  background-color: #479cfc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover) {
  .btn-link:hover {
    background-color: #479cfc;
  }
  .btn-link.btn-link--blue:hover {
    -webkit-box-shadow: 0px 5px 16px 0px rgba(71, 156, 252, 0.6);
            box-shadow: 0px 5px 16px 0px rgba(71, 156, 252, 0.6);
    color: #333c4f;
  }
}
.btn-link::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  -webkit-mask: url("../img/icons/arrow-small-right.svg") center/contain no-repeat;
          mask: url("../img/icons/arrow-small-right.svg") center/contain no-repeat;
}

.burger-btn {
  width: 2.75rem;
  height: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.burger-btn::before, .burger-btn::after {
  content: "";
  width: 65%;
}
.burger-btn::after {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  height: 0.3125rem;
  background-color: #333c4f;
  border-radius: 2.5rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.burger-btn span {
  width: 100%;
}
@media (any-hover) {
  .burger-btn:hover::before, .burger-btn:hover::after,
  .burger-btn:hover span {
    background-color: #479cfc;
  }
}
@media (max-width: 835px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger-menu {
  border-radius: 2.5rem 0 0 2.5rem;
  background: #479cfc;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.36);
          box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.36);
  min-height: 100svh;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 1.3125rem 1.75rem 1.3125rem 2.375rem;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.burger-menu._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.burger-menu__content {
  max-height: calc(100svh - 9.1875rem);
  width: 100%;
  -webkit-padding-end: 1.875rem;
          padding-inline-end: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}
.burger-menu__button {
  margin-left: calc(100% - 2.875rem);
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  background: url("../img/icons/cross.svg") center/1.5rem 1.5rem no-repeat, #333c4f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger-menu__button:not(:last-child) {
  -webkit-margin-after: 3.6875rem;
          margin-block-end: 3.6875rem;
}
@media (any-hover) {
  .burger-menu__button:hover {
    background-color: #479cfc;
    border-color: #333c4f;
  }
}

.navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 835px) {
  .header .navigation {
    font-size: 1.25rem;
    letter-spacing: 0.2875rem;
    -webkit-padding-after: 3.6875rem;
            padding-block-end: 3.6875rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
    width: calc(100% + 1.875rem);
  }
  .header .navigation::-webkit-scrollbar {
    width: 0.3125rem;
  }
  .header .navigation::-webkit-scrollbar-thumb {
    background: #333c4f;
    border-radius: 10px;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
}
@media (max-width: 835px) {
  .header .navigation__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 4rem;
    font-size: 1.25rem;
    letter-spacing: 0.2875rem;
  }
}
.navigation__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 835px) {
  .header .navigation__item {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.footer .navigation__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 767.98px) {
  .footer .navigation__item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    text-align: center;
  }
}
.navigation__link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover) {
  .navigation__link:hover {
    color: #479cfc;
  }
  ._active .navigation__link:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.section-header > *:not(:last-child) {
  margin-bottom: 1.9375rem;
}
.section-header__subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2475rem;
  text-transform: uppercase;
}
.section-header__title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.advantage-card {
  min-height: 29.375rem;
  padding: 2rem 2.375rem 2.0625rem 1.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5625rem;
  border-radius: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.16);
          box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.16);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
@media (any-hover: hover) {
  .advantage-card:hover {
    -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.5);
            box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.5);
  }
}
@media screen and (max-width: 835px) {
  .advantage-card {
    padding-inline: 1.9375rem;
  }
}
.advantage-card__icon {
  min-height: 5.1875rem;
  position: relative;
  margin-bottom: 0.375rem;
}
.advantage-card__icon::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 5.1875rem;
  height: 100%;
  border-radius: 50%;
  background-color: #479cfc;
}
.advantage-card__icon-img {
  position: absolute;
  z-index: 1;
  top: -0.25rem;
  height: 100%;
  margin-left: 1.25rem;
}
.advantage-card__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.advantage-card__body > * {
  margin-bottom: 1.0625rem;
}
.advantage-card__body > *:last-child {
  margin-bottom: 0;
}
.advantage-card__title {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
}
.advantage-card__title-link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .advantage-card__title-link:hover {
    color: #479cfc;
  }
}
.advantage-card__sub-title {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #9697ab;
  margin-bottom: 1.625rem;
}
.advantage-card__text {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #000000;
}
.advantage-card__link {
  width: 3.5625rem;
  height: 3.5625rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #479cfc;
  -webkit-transition: border-radius 0.1s, width 0.5s 0.1s;
  transition: border-radius 0.1s, width 0.5s 0.1s;
}
.advantage-card__link div {
  width: 100%;
  height: 90%;
  background-color: #333c4f;
  -webkit-mask: url("../img/icons/arrow-small-right-thin.svg") center/contain no-repeat;
          mask: url("../img/icons/arrow-small-right-thin.svg") center/contain no-repeat;
}
@media (any-hover: hover) {
  .advantage-card__link:hover {
    width: 100%;
    border-radius: 2.5rem;
  }
  .advantage-card__link:not(:hover) {
    -webkit-transition: border-radius 0.1s 0.3s, width 0.3s;
    transition: border-radius 0.1s 0.3s, width 0.3s;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__container {
  -webkit-padding-before: 3.375rem;
          padding-block-start: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9.9242424242%;
     -moz-column-gap: 9.9242424242%;
          column-gap: 9.9242424242%;
}
@media (max-width: 64rem) {
  .header__container {
    -webkit-column-gap: 3.4090909091%;
       -moz-column-gap: 3.4090909091%;
            column-gap: 3.4090909091%;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
  }
}
.header__container .logo,
.header__container .btn-link,
.header__container .burger-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.9375rem;
          flex: 0 1 13.9375rem;
  min-width: 13.9375rem;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.5rem;
}
@media (max-width: 767.98px) {
  .header__actions {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
@media (max-width: 835px) {
  .header__actions {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.main {
  background-color: #ffffff;
  min-height: 100svh;
  position: relative;
}
@media (max-width: 767.98px) {
  .main {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
}

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}
@media (max-width: 767.98px) {
  .hero {
    min-height: auto;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .hero__content .hero__content-text,
  .hero__content a {
    display: none;
  }
}
.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 43.74875rem) {
  .hero__container {
    padding-block: 6.25rem 4.0625rem;
  }
}
.hero__content-body {
  -webkit-padding-before: 11.625rem;
          padding-block-start: 11.625rem;
  -ms-flex-preferred-size: 40.5555555556vw;
      flex-basis: 40.5555555556vw;
  max-width: 36.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 3.375rem;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content-body {
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 835px) {
  .hero__content-body {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 43.74875rem) {
  .hero__content-body {
    -webkit-padding-before: 6.0625rem;
            padding-block-start: 6.0625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0.625rem;
    row-gap: 2rem;
  }
}
.hero__title-block {
  text-shadow: 1px 1px 2px #fff;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__title-block .section-header__subtitle {
    display: none;
  }
}
.hero__title-block .section-header__title {
  font-size: 2.875rem;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__title-block .section-header__title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: sideways-right;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 479.98px) {
  .hero__title-block .section-header__title {
    font-size: 1.875rem;
  }
}
.hero__title-block .section-header__title span {
  color: #479cfc;
}
@media (max-width: 43.74875rem) {
  .hero__title-block.section-header {
    text-align: center;
  }
  .hero__title-block.section-header > *:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
.hero__content-text {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #fff;
}
.hero__content-text:not(:last-child) {
  margin-bottom: 1.125rem;
}
@media (max-width: 43.74875rem) {
  .hero__content-text {
    max-width: 17.9375rem;
    padding-inline: 1.625rem;
    text-align: center;
    font-size: 1.25rem;
  }
  .hero__content-text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.hero__content-link {
  color: #479cfc;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2475rem;
}
@media (max-width: 43.74875rem) {
  .hero__content-link {
    font-size: 0.625rem;
    letter-spacing: 0.20625rem;
  }
}
@media (any-hover) {
  .hero__content-link:hover {
    text-decoration: underline;
  }
}
.hero__content-image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.3055555556vw;
          flex: 0 0 49.3055555556vw;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #479cfc;
  -webkit-padding-start: 1.125rem;
          padding-inline-start: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}
@media (max-width: 991.98px) {
  .hero__content-image-block {
    border-radius: 3.75rem 0 0 3.75rem;
    -ms-flex-preferred-size: 37.1527777778vw;
        flex-basis: 37.1527777778vw;
  }
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content-image-block {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@media (max-width: 43.74875rem) {
  .hero__content-image-block {
    display: none;
  }
}
.hero__image-wrap {
  min-width: 35.375rem;
  height: 86svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.hero__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 566/746;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991.98px) {
  .hero__image {
    margin-right: -2.875rem;
  }
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 6.25rem 6rem;
  gap: 3rem;
}
@media screen and (max-width: 835px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 4.4375rem 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .intro__container {
    -webkit-padding-before: 3.9375rem;
            padding-block-start: 3.9375rem;
    gap: 2.5rem;
  }
}
.intro__content {
  max-width: 40.625rem;
}
.intro__title-block .section-header__title {
  font-size: 2.875rem;
}
@media screen and (max-width: 835px) {
  .intro__title-block .section-header__title {
    text-align: center;
  }
}
@media screen and (max-width: 479.98px) {
  .intro__title-block .section-header__title {
    font-size: 2rem;
  }
}
.intro__title-block:not(:last-child) {
  margin-bottom: 2.5625rem;
}
@media screen and (max-width: 835px) {
  .intro__title-block:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}
@media screen and (max-width: 479.98px) {
  .intro__title-block:not(:last-child) {
    margin-bottom: 1.125rem;
  }
}
.intro__text {
  color: #000000;
  line-height: 1.625;
}
@media screen and (max-width: 479.98px) {
  .intro__text {
    font-size: 0.75rem;
  }
}
.intro__gallery {
  max-width: 33.625rem;
  min-width: 40.7575757576%;
}
@media screen and (max-width: 835px) {
  .intro__gallery {
    max-width: 100%;
    width: 100%;
  }
}

.gallery-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 10.75rem);
  gap: 1.25rem 1.5625rem;
}
@media screen and (max-width: 835px) {
  .gallery-intro {
    grid-template-rows: repeat(2, 15.5rem);
    gap: 1.75rem 1.375rem;
  }
}
@media screen and (max-width: 479.98px) {
  .gallery-intro {
    grid-template-rows: repeat(2, 7.875rem);
    gap: 0.875rem 0.6875rem;
  }
}
.gallery-intro__item-image {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  aspect-ratio: 256/172;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.6875rem, 1fr));
  gap: 1.25rem;
}
@media screen and (max-width: 835px) {
  .advantages__container {
    gap: 1.75rem 1.4375rem;
  }
}
@media screen and (max-width: 767.98px) {
  .advantages__container {
    row-gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(16.875rem, 1fr));
  }
}

.discount {
  padding-block: 11.8125rem 3.5rem;
}
@media (max-width: 835px) {
  .discount {
    padding-block: 3.125rem 1.1875rem;
  }
}
@media (max-width: 479.98px) {
  .discount {
    -webkit-padding-after: 0;
            padding-block-end: 0;
  }
}
.discount__wrapper {
  border-radius: 2.5rem;
  background: #333c4f;
  -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
          box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .discount__wrapper {
    padding-inline: 1.5rem;
  }
}
.discount__image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.6875rem;
          flex: 0 1 32.6875rem;
  position: relative;
}
@media (max-width: 835px) {
  .discount__image-block {
    display: none;
  }
}
.discount__image-block::after, .discount__image-block::before {
  content: "";
  width: 17.25rem;
  height: 6rem;
  background: url("../img/decor.svg") no-repeat;
  position: absolute;
}
.discount__image-block::before {
  top: 2.375rem;
  right: 0;
}
.discount__image-block::after {
  bottom: 2.375rem;
  left: 16;
}
.discount__image {
  max-width: 100%;
  position: absolute;
  z-index: 1;
  right: -2.1875rem;
  bottom: 0;
}
.discount__content {
  color: #ffffff;
  padding-block: 6.5rem 5.9375rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 835px) {
  .discount__content {
    padding-block: 4.25rem;
  }
}
@media (max-width: 479.98px) {
  .discount__content {
    padding-block: 3.375rem 3.75rem;
  }
}
.discount__content-body {
  max-width: 31.5625rem;
  padding-inline: 0.3125rem;
  margin: 0 auto;
}
@media (max-width: 835px) {
  .discount__content-body {
    text-align: center;
  }
}
.discount__title-block .section-header__title:not(span) {
  font-size: 2.875rem;
}
@media (max-width: 479.98px) {
  .discount__title-block .section-header__title:not(span) {
    font-size: 2rem;
  }
}
.discount__title-block .section-header__title span {
  color: #479cfc;
  font-size: 4rem;
}
@media (max-width: 479.98px) {
  .discount__title-block .section-header__title span {
    font-size: 2.25rem;
  }
}
.discount__title-block:not(:last-child) {
  margin-bottom: 3rem;
}
@media (max-width: 835px) {
  .discount__title-block {
    text-align: center;
  }
}

.upcoming {
  padding-block: 2.5rem 4.5rem;
}
.upcoming__title-block:not(:last-child) {
  margin-bottom: 4.6875rem;
}
@media (max-width: 991.98px) {
  .upcoming__title-block:not(:last-child) {
    margin-bottom: 3.1875rem;
  }
}
@media (max-width: 767.98px) {
  .upcoming__title-block:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.upcoming__title-block .section-header__title {
  font-size: 2.875rem;
}
@media (max-width: 767.98px) {
  .upcoming__title-block .section-header__title {
    font-size: 2rem;
  }
}
@media (max-width: 991.98px) {
  .upcoming__title-block {
    text-align: center;
  }
}
.upcoming__gallery .upcoming__gallery-line:not(:last-child) {
  margin-bottom: 2rem;
}
.upcoming__gallery .upcoming__gallery-line:nth-child(even) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.upcoming__gallery .upcoming__gallery-line:nth-child(even) .gallery-line__item > * {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.gallery-line {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.33%, 1fr));
  grid-auto-rows: 18.625rem;
  gap: 2rem 1.25rem;
}
@media (max-width: 991.98px) {
  .gallery-line {
    grid-template-columns: repeat(2, minmax(40%, 1fr));
  }
}
@media (max-width: 767.98px) {
  .gallery-line {
    grid-auto-rows: auto;
    gap: 1.5rem 0.5rem;
  }
}
.gallery-line__item {
  border-radius: 2.5rem;
  background-color: #a8a8a8;
}
@media (max-width: 767.98px) {
  .gallery-line__item:nth-child(n+3) {
    display: none;
  }
}
.gallery-line__item.gallery-line-head {
  background-color: #ffffff;
}
.gallery-line__item-link {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
@media (any-hover: hover) {
  .gallery-line__item-link:hover {
    -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.3);
            box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.3);
  }
}
.gallery-line__item-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5rem;
}

.gallery-line-head {
  padding: 1.6875rem 2.75rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.gallery-line-head::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 201.06%;
  height: 100%;
  border-radius: 2.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.23);
          box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.23);
}
@media (max-width: 479.98px) {
  .gallery-line-head {
    padding-inline: 1.375rem;
    -webkit-padding-before: 0.875rem;
            padding-block-start: 0.875rem;
  }
}
.gallery-line-head > * {
  margin-bottom: 0.875rem;
}
.gallery-line-head > *:last-child {
  margin-bottom: 0;
}
.gallery-line-head__icon {
  width: 6.125rem;
  height: 6.125rem;
  background: url("../img/upcoming/hanger-fashion.svg") center/contain no-repeat;
  margin-bottom: 1.0625rem;
}
@media (max-width: 479.98px) {
  .gallery-line-head__icon {
    width: 3.0625rem;
    height: 3.0625rem;
  }
}
.gallery-line-head__subtitle {
  color: #9697ab;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
@media (max-width: 479.98px) {
  .gallery-line-head__subtitle {
    margin-bottom: 0.25rem;
  }
}
.gallery-line-head__title {
  margin-bottom: 1.375rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 479.98px) {
  .gallery-line-head__title {
    font-size: 1.25rem;
    margin-bottom: 0.8125rem;
  }
}
.gallery-line-head__link {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #479cfc;
  -webkit-transition: border-radius 0.1s, width 0.5s 0.1s;
  transition: border-radius 0.1s, width 0.5s 0.1s;
}
@media (max-width: 479.98px) {
  .gallery-line-head__link {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.gallery-line-head__link div {
  width: 100%;
  height: 90%;
  background-color: #333c4f;
  -webkit-mask: url("../img/icons/arrow-small-right-thin.svg") center/contain no-repeat;
          mask: url("../img/icons/arrow-small-right-thin.svg") center/contain no-repeat;
}
@media (any-hover: hover) {
  .gallery-line-head__link:hover {
    width: 100%;
    border-radius: 2.5rem;
  }
  .gallery-line-head__link:not(:hover) {
    -webkit-transition: border-radius 0.1s 0.3s, width 0.3s;
    transition: border-radius 0.1s 0.3s, width 0.3s;
  }
}

.venue__body {
  color: #ffffff;
  padding: 5.5625rem 3.3125rem 4.3125rem;
  border-radius: 40px;
  background: #333c4f;
  -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
          box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
  background: url("../img/pexels-martin-alargent.jpg") center/cover no-repeat, -webkit-gradient(linear, left bottom, left top, from(rgba(51, 60, 79, 0.63)), to(rgba(51, 60, 79, 0.63))), url(<path-to-image>) lightgray 50%/cover no-repeat;
  background: url("../img/pexels-martin-alargent.jpg") center/cover no-repeat, linear-gradient(0deg, rgba(51, 60, 79, 0.63) 0%, rgba(51, 60, 79, 0.63) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
}
@media (max-width: 991.98px) {
  .venue__body {
    padding-block: 3.75rem 4rem;
  }
}
@media (max-width: 767.98px) {
  .venue__body {
    padding: 2.875rem 1.125rem 2.6875rem;
  }
}
.venue__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 3.125rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.venue__header:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media (min-width: 991.98px) {
  .venue__header .btn-link {
    margin-top: -1.875rem;
  }
}
@media (max-width: 991.98px) {
  .venue__header .section-header__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 767.98px) {
  .venue__header .section-header__subtitle {
    font-size: 0.625rem;
  }
  .venue__header .section-header__title {
    font-size: 2rem;
  }
}
.venue__text {
  font-weight: 500;
  line-height: 1.625;
}
@media (max-width: 767.98px) {
  .venue__text {
    font-size: 0.875rem;
    line-height: 1.43;
  }
}

.booking__container {
  padding-block: 2.875rem;
}
@media (max-width: 991.98px) {
  .booking__container {
    padding-block: 2.5625rem;
  }
}
@media (max-width: 767.98px) {
  .booking__container {
    padding-block: 2.3125rem;
  }
}
.booking__body {
  border-radius: 2.5rem;
  background: #fff;
  -webkit-box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
          box-shadow: 0px 0.25rem 1rem 0px rgba(51, 60, 79, 0.36);
}
.booking__header {
  padding: 4.5625rem 4.5rem 3.4375rem;
  border-radius: 2.5rem;
  background-color: #333c4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (min-width: 991.98px) {
  .booking__header {
    padding-block: 5.875rem 5.6875rem;
  }
  .booking__header::after {
    content: "";
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 17.25rem;
    height: 6rem;
    background: url("../img/decor.svg") center/contain no-repeat;
  }
}
@media (max-width: 767.98px) {
  .booking__header {
    padding: 2.3125rem 1.875rem 3.125rem;
  }
}
.booking__header .section-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .booking__header .section-header {
    text-align: center;
  }
  .booking__header .section-header .section-header__subtitle {
    font-size: 0.625rem;
  }
  .booking__header .section-header .section-header__title {
    font-size: 2.5rem;
  }
}

.form-booking__wrapper {
  padding: 4.125rem 7rem 6.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.625rem;
}
@media (max-width: 991.98px) {
  .form-booking__wrapper {
    padding: 3.125rem 2.75rem 5.4375rem;
    row-gap: 2.25rem;
  }
}
@media (max-width: 767.98px) {
  .form-booking__wrapper {
    padding: 1.875rem 1.25rem 4.9375rem;
  }
}
@media (max-width: 25rem) {
  .form-booking__wrapper {
    padding-inline: 0.625rem;
  }
}
.form-booking__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.625rem 1.25rem;
}
@media (max-width: 991.98px) {
  .form-booking__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.25rem;
  }
}
.form-booking__input-block {
  position: relative;
}
.form-booking__row .form-booking__input-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.form-booking__input-block:last-of-type:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media (max-width: 991.98px) {
  .form-booking__input-block:last-of-type:not(:last-child) {
    margin-bottom: 0.5625rem;
  }
}
@media (max-width: 767.98px) {
  .form-booking__input-block:last-of-type:not(:last-child) {
    margin-bottom: 0;
  }
}
.form-booking__lable {
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 0.6875rem;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.20625rem;
  text-transform: uppercase;
  color: #9697ab;
}
@media (max-width: 767.98px) {
  .form-booking__lable {
    font-size: 0.4375rem;
    letter-spacing: 0.056875rem;
  }
}
.form-booking__input {
  border-radius: 2.5rem;
  border: 0.125rem solid #333c4f;
  padding: 2.0625rem 2rem 0.8125rem;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767.98px) {
  .form-booking__input {
    font-size: 0.875rem;
    padding-inline: 1.625rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
.form-booking .btn-link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-width: 21.25%;
  min-height: 3.125rem;
}
@media (max-width: 991.98px) {
  .form-booking .btn-link {
    min-width: 38.8%;
  }
}
@media (max-width: 767.98px) {
  .form-booking .btn-link {
    min-width: 100%;
    min-height: 4rem;
  }
}

.footer {
  -webkit-padding-before: 3.75rem;
          padding-block-start: 3.75rem;
}
@media (max-width: 991.98px) {
  .footer {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding-block: 1.75rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3.375rem;
}
@media (max-width: 767.98px) {
  .footer__container {
    row-gap: 2.625rem;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    row-gap: 2.375rem;
  }
}
.footer__logo {
  width: 16.5625rem;
  height: 6.6875rem;
}
@media (min-width: 767.98px) {
  .footer .navigation:not(:first-child) {
    margin-top: -0.3125rem;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}
@media (max-width: 25rem) {
  .social__list {
    gap: 1.25rem;
  }
}
.social__item {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__link img {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .social__link:hover {
    background-color: #333c4f;
  }
}

.copyright {
  padding: 2.3125rem 3.375rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.28875rem;
  text-align: center;
  text-transform: uppercase;
  border-top: 0.0625rem solid #333c4f;
}
@media (max-width: 991.98px) {
  .copyright {
    padding: 2.9375rem 0.9375rem 2.4375rem;
  }
}
@media (max-width: 767.98px) {
  .copyright {
    padding: 1.375rem;
  }
}