@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333c4f;
  background-color: #fcfcfc;
}
body::-webkit-scrollbar-thumb {
  background: #333c4f;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 83.75rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}
@media screen and (max-width: 835px) {
  [class$=__container] {
    padding-inline: 2.1875rem;
  }
}
@media screen and (max-width: 479.98px) {
  [class$=__container] {
    padding-inline: 1.25rem;
  }
}

.logo {
  width: 11.5rem;
  height: 4.625rem;
}
@media (max-width: 428px) {
  .logo {
    width: 8.75rem;
    height: 3.5rem;
  }
}
@media (max-width: 428px) {
  .logo {
    width: 8.75rem;
    height: 3.5rem;
  }
}
.logo__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-link {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 1.0625rem 3.375rem 1.125rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(51, 60, 79, 0.36);
          box-shadow: 0px 4px 16px 0px rgba(51, 60, 79, 0.36);
  text-align: center;
  background-color: #333c4f;
  position: relative;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (any-hover) {
  .btn-link:hover {
    background-color: #479cfc;
  }
}
.btn-link::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  -webkit-mask: url("../img/icons/arrow-small-right.svg") center/contain no-repeat;
          mask: url("../img/icons/arrow-small-right.svg") center/contain no-repeat;
}

.burger-btn {
  width: 2.75rem;
  height: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.burger-btn::before, .burger-btn::after {
  content: "";
  width: 65%;
}
.burger-btn::after {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  height: 0.3125rem;
  background-color: #333c4f;
  border-radius: 2.5rem;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.burger-btn span {
  width: 100%;
}
@media (any-hover) {
  .burger-btn:hover::before, .burger-btn:hover::after,
  .burger-btn:hover span {
    background-color: #479cfc;
  }
}
@media (max-width: 835px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.burger-menu {
  border-radius: 2.5rem 0 0 2.5rem;
  background: #479cfc;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.36);
          box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.36);
  min-height: 100svh;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 1.3125rem 1.75rem 1.3125rem 2.375rem;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.burger-menu._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.burger-menu__content {
  max-height: calc(100svh - 9.1875rem);
  width: 100%;
  -webkit-padding-end: 1.875rem;
          padding-inline-end: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
}
.burger-menu__button {
  margin-left: calc(100% - 2.875rem);
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;
  border: 0.125rem solid transparent;
  background: url("../img/icons/cross.svg") center/1.5rem 1.5rem no-repeat, #333c4f;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.burger-menu__button:not(:last-child) {
  -webkit-margin-after: 3.6875rem;
          margin-block-end: 3.6875rem;
}
@media (any-hover) {
  .burger-menu__button:hover {
    background-color: #479cfc;
    border-color: #333c4f;
  }
}

.section-header > *:not(:last-child) {
  margin-bottom: 1.9375rem;
}
.section-header__subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2475rem;
  text-transform: uppercase;
}
.section-header__title {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header__container {
  -webkit-padding-before: 3.375rem;
          padding-block-start: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.1875rem;
}
@media (max-width: 991.98px) {
  .header__container {
    gap: 1.875rem;
    -webkit-padding-before: 0.9375rem;
            padding-block-start: 0.9375rem;
  }
}
.header__container .logo,
.header__container .btn-link,
.header__container .burger-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__actions {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 13.9375rem;
          flex: 1 1 13.9375rem;
  min-width: 13.9375rem;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2.5rem;
}
@media (max-width: 767.98px) {
  .header__actions {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}

.navigation {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 835px) {
  .navigation {
    font-size: 1.25rem;
    letter-spacing: 0.2875rem;
    -webkit-padding-after: 3.6875rem;
            padding-block-end: 3.6875rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 80%;
    width: calc(100% + 1.875rem);
  }
  .navigation::-webkit-scrollbar {
    width: 0.3125rem;
  }
  .navigation::-webkit-scrollbar-thumb {
    background: #333c4f;
    border-radius: 10px;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem 3.5rem;
}
@media (max-width: 835px) {
  .navigation__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 4rem;
    font-size: 1.25rem;
    letter-spacing: 0.2875rem;
  }
}
.navigation__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 835px) {
  .navigation__item {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.navigation__link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover) {
  .navigation__link:hover {
    color: #479cfc;
  }
  ._active .navigation__link:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.hero {
  min-height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}
@media (max-width: 767.98px) {
  .hero {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .hero__content .hero__content-text,
  .hero__content a {
    display: none;
  }
}
.hero__content-body {
  -webkit-padding-before: 11.625rem;
          padding-block-start: 11.625rem;
  max-width: 40.5555555556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 3.375rem;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content-body {
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (max-width: 835px) {
  .hero__content-body {
    max-width: 100%;
  }
}
@media (max-width: 43.749375rem) {
  .hero__content-body {
    -webkit-padding-before: 6.0625rem;
            padding-block-start: 6.0625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0.625rem;
    row-gap: 2rem;
  }
}
@media (max-width: 22.5rem) {
  .hero__content-body {
    padding-inline: 0;
  }
}
.hero__title-block {
  text-shadow: 1px 1px 2px #fff;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__title-block .section-header__subtitle {
    display: none;
  }
}
.hero__title-block .section-header__title {
  font-size: 2.875rem;
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__title-block .section-header__title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: sideways-right;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-padding-start: 6.1875rem;
            padding-inline-start: 6.1875rem;
  }
}
@media (max-width: 43.749375rem) {
  .hero__title-block .section-header__title {
    font-size: 1.875rem;
  }
}
.hero__title-block .section-header__title span {
  color: #479cfc;
}
@media (max-width: 43.749375rem) {
  .hero__title-block.section-header {
    text-align: center;
  }
  .hero__title-block.section-header > *:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
.hero__content-text {
  font-size: 1.5rem;
}
.hero__content-text:not(:last-child) {
  margin-bottom: 1.125rem;
}
@media (max-width: 43.749375rem) {
  .hero__content-text {
    max-width: 17.9375rem;
    padding-inline: 1.625rem;
    text-align: center;
    font-size: 1.25rem;
  }
  .hero__content-text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.hero__content-link {
  color: #479cfc;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2475rem;
}
@media (max-width: 43.749375rem) {
  .hero__content-link {
    font-size: 0.625rem;
    letter-spacing: 0.20625rem;
  }
}
@media (any-hover) {
  .hero__content-link:hover {
    text-decoration: underline;
  }
}
.hero__content-mage-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.3055555556vw;
          flex: 0 0 49.3055555556vw;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #479cfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991.98px) {
  .hero__content-mage-block {
    border-radius: 3.75rem 0 0 3.75rem;
    -ms-flex-preferred-size: 37.1527777778vw;
        flex-basis: 37.1527777778vw;
  }
}
@media (min-width: 43.75rem) and (max-width: 835px) {
  .hero__content-mage-block {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }
}
@media (max-width: 43.749375rem) {
  .hero__content-mage-block {
    display: none;
  }
}
.hero__image {
  width: 35.375rem;
  aspect-ratio: 566/746;
}
@media (max-width: 991.98px) {
  .hero__image {
    margin-right: -2.875rem;
  }
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 6.25rem 6rem;
  gap: 3rem;
}
@media screen and (max-width: 835px) {
  .intro__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 4.4375rem 2.5rem;
  }
}
@media screen and (max-width: 767.98px) {
  .intro__container {
    -webkit-padding-before: 3.9375rem;
            padding-block-start: 3.9375rem;
    gap: 2.5rem;
  }
}
.intro__content {
  max-width: 40.625rem;
}
.intro__title-block .section-header__title {
  font-size: 2.875rem;
}
@media screen and (max-width: 835px) {
  .intro__title-block .section-header__title {
    text-align: center;
  }
}
@media screen and (max-width: 479.98px) {
  .intro__title-block .section-header__title {
    font-size: 2rem;
  }
}
.intro__title-block:not(:last-child) {
  margin-bottom: 2.5625rem;
}
@media screen and (max-width: 835px) {
  .intro__title-block:not(:last-child) {
    margin-bottom: 1.75rem;
  }
}
@media screen and (max-width: 479.98px) {
  .intro__title-block:not(:last-child) {
    margin-bottom: 1.125rem;
  }
}
.intro__text {
  color: #000000;
  line-height: 1.625;
}
@media screen and (max-width: 479.98px) {
  .intro__text {
    font-size: 0.75rem;
  }
}
.intro__gallery {
  max-width: 33.625rem;
  min-width: 40.7575757576%;
}
@media screen and (max-width: 835px) {
  .intro__gallery {
    max-width: 100%;
    width: 100%;
  }
}

.gallery-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 10.75rem);
  gap: 1.25rem 1.5625rem;
}
@media screen and (max-width: 835px) {
  .gallery-intro {
    grid-template-rows: repeat(2, 15.5rem);
    gap: 1.75rem 1.375rem;
  }
}
@media screen and (max-width: 479.98px) {
  .gallery-intro {
    grid-template-rows: repeat(2, 7.875rem);
    gap: 0.875rem 0.6875rem;
  }
}
.gallery-intro__item-image {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  aspect-ratio: 256/172;
  -o-object-fit: cover;
     object-fit: cover;
}