.logo {
    width: toRem(184);
    height: toRem(74);
    @media (max-width: $smallMobile-428) {
        width: toRem(140);
        height: toRem(56);
    }
    @media (max-width: $smallMobile-428) {
        width: toRem(140);
        height: toRem(56);
    }
    // .logo__image
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.btn-link {
    font-size: toRem(12);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    padding: toRem(17) toRem(54) toRem(18);
    border-radius: toRem(40);
    box-shadow: 0px 4px 16px 0px rgba(51, 60, 79, 0.36);
    text-align: center;
    background-color: $darkColor;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    &.btn-link--blue {
        background-color: $blueColor;
        transition: all 0.3s;
    }
    @media (any-hover) {
        &:hover {
            background-color: $blueColor;
        }
        &.btn-link--blue:hover {
            box-shadow: 0px 5px 16px 0px rgba(71, 156, 252, 0.6);
            color: $darkColor;
        }
    }
    &::before {
        content: "";
        width: toRem(24);
        height: toRem(24);
        position: absolute;
        left: toRem(12);
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffffff;
        mask: url("../img/icons/arrow-small-right.svg") center/ contain no-repeat;
    }
}
.burger-btn {
    width: toRem(44);
    height: toRem(32);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    order: 2;

    &::before,
    &::after {
        content: "";
        width: 65%;
    }
    &::after {
        align-self: flex-end;
    }
    &::before,
    &::after,
    span {
        height: toRem(5);
        background-color: $darkColor;
        border-radius: toRem(40);
        transition: background-color 0.3s ease-in-out;
    }
    span {
        width: 100%;
    }

    @media (any-hover) {
        &:hover {
            &::before,
            &::after,
            span {
                background-color: $blueColor;
            }
        }
    }
    @media (max-width: $tablet-835) {
        display: flex;
    }
}
.burger-menu {
    border-radius: toRem(40) 0 0 toRem(40);
    background: $blueColor;
    box-shadow: 0 toRem(4) toRem(16) 0 rgba(51, 60, 79, 0.36);
    min-height: 100svh;
    max-width: max-content;
    padding: toRem(21) toRem(28) toRem(21) toRem(38);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    &._active {
        transform: translateX(0);
    }
    // .burger-menu__container

    &__content {
        max-height: calc(100svh - toRem(147));
        width: 100%;
        padding-inline-end: toRem(30);
        display: flex;
        flex-direction: column;
        row-gap: toRem(30);
    }
    // burger-menu__button
    &__button {
        margin-left: calc(100% - toRem(46));
        width: toRem(46);
        height: toRem(46);
        border-radius: 50%;
        border: toRem(2) solid transparent;
        background:
            url("../img/icons/cross.svg") center/ toRem(24) toRem(24) no-repeat,
            $darkColor;
        transition: all 0.3s ease-in-out;
        &:not(:last-child) {
            margin-block-end: toRem(59);
        }

        @media (any-hover) {
            &:hover {
                background-color: $blueColor;
                border-color: $darkColor;
            }
        }
    }
}

.navigation {
    font-size: toRem(14);
    font-weight: 700;
    text-transform: uppercase;
    .header & {
        @media (max-width: $tablet-835) {
            font-size: toRem(20);
            letter-spacing: toRem(4.6);
            padding-block-end: toRem(59);
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 80%;
            width: calc(100% + toRem(30));
            &::-webkit-scrollbar {
                width: toRem(5);
            }
            &::-webkit-scrollbar-thumb {
                background: $darkColor;
                border-radius: 10px;
            }
        }
    }

    // .navigation__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: toRem(20) toRem(56);
        .header & {
            @media (max-width: $tablet-835) {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                flex-wrap: nowrap;
                row-gap: toRem(64);
                font-size: toRem(20);
                letter-spacing: toRem(4.6);
            }
        }
        .footer & {
            @media (max-width: $tablet-835) {
                // justify-content: space-around;
            }
        }
    }

    // .navigation__item

    &__item {
        flex-shrink: 0;

        .header & {
            @media (max-width: $tablet-835) {
                flex-shrink: 1;
            }
        }
        .footer & {
                       flex-grow: 1;
            @media (max-width: $mobile) {
                flex-basis: 40%;
                text-align: center;
            }
        }
    }

    // .navigation__link

    &__link {
        transition: all 0.3s ease-in-out;
        @media (any-hover) {
            &:hover {
                color: $blueColor;
                ._active & {
                    text-decoration: underline;
                    color: inherit;
                }
            }
        }
    }
}

.section-header {
    & > *:not(:last-child) {
        margin-bottom: toRem(31);
    }

    // .section-header__subtitle

    &__subtitle {
        font-size: toRem(12);
        font-weight: 700;
        letter-spacing: toRem(3.96);
        text-transform: uppercase;
    }

    // .section-header__title

    &__title {
        font-size: toRem(64);
        font-weight: 900;
        text-transform: uppercase;
    }
}
.advantage-card {
    min-height: toRem(470);
    padding: toRem(32) toRem(38) toRem(33) toRem(31);
    display: flex;
    flex-direction: column;
    gap: toRem(25);
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.16);
    transition: box-shadow 0.3s;
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.5);
        }
    }
    @media screen and (max-width: $tablet-835) {
        padding-inline: toRem(31);
    }

    // .advantage-card__icon

    &__icon {
        min-height: toRem(83);
        position: relative;
        margin-bottom: toRem(6);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 0;
            width: toRem(83);
            height: 100%;
            border-radius: 50%;
            background-color: $blueColor;
        }
    }
    &__icon-img {
        position: absolute;
        z-index: 1;
        top: toRem(-4);
        height: 100%;
        margin-left: toRem(20);
    }
    // .advantage-card__body

    &__body {
        flex-grow: 1;
        & > * {
            margin-bottom: toRem(17);
        }
        & > *:last-child {
            margin-bottom: 0;
        }
    }

    // .advantage-card__title

    &__title {
        font-size: toRem(20);
        font-weight: 700;
        text-transform: capitalize;
    }

    // .advantage-card__title-link

    &__title-link {
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $blueColor;
            }
        }
    }

    // .advantage-card__sub-title

    &__sub-title {
        font-size: toRem(10);
        font-weight: 700;
        letter-spacing: toRem(1.6);
        text-transform: uppercase;
        color: #9697ab;
        margin-bottom: toRem(26);
    }

    // .advantage-card__

    // .advantage-card__text

    &__text {
        font-size: toRem(14);
        line-height: 1.43;
        color: #000000;
    }

    // .advantage-card__link

    &__link {
        width: toRem(57);
        height: toRem(57);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blueColor;
        transition:
            border-radius 0.1s,
            width 0.5s 0.1s;
        & div {
            width: 100%;
            height: 90%;
            background-color: $darkColor;
            mask: url("../img/icons/arrow-small-right-thin.svg") center/ contain no-repeat;
        }

        @media (any-hover: hover) {
            &:hover {
                width: 100%;
                border-radius: toRem(40);
            }
            &:not(:hover) {
                transition:
                    border-radius 0.1s 0.3s,
                    width 0.3s;
            }
        }
    }
    &__icon {
    }
}
