.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    // .header__container

    &__container {
        padding-block-start: toRem(54);
        display: flex;
        align-items: center;
        column-gap: toPercent(131, $maxWidthContainer);
        @media (max-width: $tablet) {
            gap: toRem(30);
            padding-block-start: toRem(15);
        }
        .logo,
        .btn-link,
        .burger-btn {
            flex-shrink: 0;
        }
    }
    &__actions {
        flex: 1 1 toRem(223);
        min-width: toRem(223);
        margin-left: auto;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: toRem(40);
        @media (max-width: $mobile) {
            min-width: fit-content;
        }
    }
}
