.main {
    background-color: #ffffff;
    position: relative;
    @media (max-width: $mobile) {
        min-height: max-content;
    }
}

.hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    @media (max-width: $mobile) {
        min-height: auto;
    }

    // .hero__content

    &__content {
        flex: 0 0 100%;
        position: relative;
        z-index: 1;
        @media (min-width: toRem(699.98)) and (max-width: $tablet) {
            // flex: 1 1 auto;
            .hero__content-text,
            a {
                display: none;
            }
        }
    }
    // .hero__container

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        @media (max-width: toRem(699.98)) {
            padding-block: toRem(100) toRem(65);
        }
    }
    &__content-wrapper {
        padding-inline-end: toRem(20);
        flex-shrink: 1;
        flex-basis: toPercent(calc(730 - ($maxWidth - $maxWidthContainer) / 2), $maxWidthContainer);

        @media (min-width: toRem(699.98)) and (max-width: $tablet) {
            flex-basis: toVW(297, $maxWidth);
        }
        @media (max-width: toRem(699.98)) {
            max-width: 100%;
            flex-grow: 1;
        }
    }
    //hero__content-body
    &__content-body {
        max-width: toRem(584);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(54);

        @media (min-width: toRem(699.98)) and (max-width: $tablet) {
            padding-block-start: 0;
            align-items: flex-end;
        }

        @media (max-width: toRem(699.98)) {
            padding-block-start: toRem(97);
            align-items: center;
            padding-inline: toRem(10);
            row-gap: toRem(32);
        }
    }

    // .hero__title-block

    &__title-block {
        text-shadow: 1px 1px 2px #fff;
        .section-header__subtitle {
            @media (min-width: toRem(699.98)) and (max-width: $tablet) {
                display: none;
            }
        }
        & .section-header__title {
            font-size: toRem(46);
            @media (min-width: toRem(699.98)) and (max-width: $tablet) {
                writing-mode: vertical-rl;
                text-orientation: sideways-right;
                transform: rotate(180deg);
                max-height: toRem(584);
            }
            @media (max-width: $smallMobile) {
                font-size: toRem(30);
            }
        }
        & .section-header__title span {
            color: $blueColor;
        }
        @media (max-width: toRem(699.98)) {
            &.section-header {
                text-align: center;
                & > *:not(:last-child) {
                    margin-bottom: toRem(27);
                }
            }
        }
    }
    //hero__content-text
    &__content-text {
        font-size: toRem(24);
        text-shadow: 1px 1px 2px #fff;
        &:not(:last-child) {
            margin-bottom: toRem(18);
        }
        @media (max-width: toRem(699.98)) {
            max-width: toRem(287);
            padding-inline: toRem(26);
            text-align: center;
            font-size: toRem(20);
            &:not(:last-child) {
                margin-bottom: toRem(15);
            }
        }
    }

    // .hero__content-link

    &__content-link {
        color: $blueColor;
        font-size: toRem(12);
        font-weight: 700;
        letter-spacing: toRem(3.96);
        @media (max-width: toRem(699.98)) {
            font-size: toRem(10);
            letter-spacing: toRem(3.3);
        }
        @media (any-hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .hero__content-mage-block

    &__content-image-block {
        flex: 0 0 toPercent(calc(710 - ($maxWidth - $maxWidthContainer) / 2), $maxWidthContainer);
        transform: translateX(-100%);
        display: flex;
        align-items: flex-end;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
            width: 100%;
            min-height: 100vmax;
            background-color: $blueColor;
            @media (max-width: $tablet) {
                border-radius: toRem(60) 0 0 toRem(60);
            }
        }
        @media (max-width: $tablet) {
            flex: 0 0 toPercent(calc(297 - ($maxWidth - $maxWidthContainer) / 2), $maxWidthContainer);
        }
        @media (min-width: toRem(699.98)) and (max-width: toRem(835)) {
            transform: translateX(-90%);
        }
        @media (max-width: toRem(699.98)) {
            display: none;
        }
    }
    &__image-wrap {
        min-width: toRem(566);
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    // .hero__image

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 566 / 746;
        object-fit: contain;
        object-position: bottom;
        @media (max-width: $tablet) {
            margin-right: toRem(-46);
        }
    }
}
.intro {
    // .intro__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: toRem(100) toRem(96);
        gap: toRem(48);
        @media screen and (max-width: $tablet-835) {
            flex-direction: column;
            padding-block: toRem(71) toRem(40);
        }
        @media screen and (max-width: $mobile) {
            padding-block-start: toRem(63);
            gap: toRem(40);
        }
    }

    // .intro__content

    &__content {
        max-width: toRem(650);
    }

    // .intro__title-block

    &__title-block {
        & .section-header__title {
            font-size: toRem(46);
            @media screen and (max-width: $tablet-835) {
                text-align: center;
            }
            @media screen and (max-width: $smallMobile) {
                font-size: toRem(32);
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(41);
            @media screen and (max-width: $tablet-835) {
                margin-bottom: toRem(28);
            }
            @media screen and (max-width: $smallMobile) {
                margin-bottom: toRem(18);
            }
        }
    }

    // .intro__text

    &__text {
        color: #000000;
        line-height: 1.625;
        @media screen and (max-width: $smallMobile) {
            font-size: toRem(12);
        }
    }

    // .intro__gallery

    &__gallery {
        max-width: toRem(538);
        min-width: toPercent(538, $maxWidthContainer);
        @media screen and (max-width: $tablet-835) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.gallery-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, toRem(172));
    gap: toRem(20) toRem(25);
    @media screen and (max-width: $tablet-835) {
        grid-template-rows: repeat(2, toRem(248));
        gap: toRem(28) toRem(22);
    }
    @media screen and (max-width: $smallMobile) {
        grid-template-rows: repeat(2, toRem(126));
        gap: toRem(14) toRem(11);
    }

    &__item-image {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        aspect-ratio: 256 / 172;
        object-fit: cover;
    }
}
.advantages {
    // .advantages__container

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(315), 1fr));
        gap: toRem(20);
        @media screen and (max-width: $tablet-835) {
            gap: toRem(28) toRem(23);
        }
        @media screen and (max-width: $mobile) {
            row-gap: toRem(40);
            grid-template-columns: repeat(auto-fit, minmax(toRem(270), 1fr));
        }
    }
}
.discount {
    padding-block: toRem(189) toRem(56);
    @media (max-width: $tablet-835) {
        padding-block: toRem(50) toRem(19);
    }
    @media (max-width: $smallMobile) {
        padding-block-end: 0;
    }

    &__wrapper {
        border-radius: toRem(40);
        background: $darkColor;
        box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.36);
        display: flex;
        @media (max-width: $mobile) {
            padding-inline: toRem(24);
        }
    }

    // .discount__image-block

    &__image-block {
        flex: 0 1 toRem(523);
        position: relative;
        @media (max-width: $tablet-835) {
            display: none;
        }

        &::after,
        &::before {
            content: "";
            width: toRem(276);
            height: toRem(96);
            background: url("../img/decor.svg") no-repeat;
            position: absolute;
        }
        &::before {
            top: toRem(38);
            right: 0;
        }
        &::after {
            bottom: toRem(38);
            left: 16;
        }
    }
    &__image {
        max-width: 100%;
        position: absolute;
        z-index: 1;
        right: toRem(-35);
        bottom: 0;
    }
    // .discount__content

    &__content {
        color: #ffffff;
        padding-block: toRem(104) toRem(95);
        flex-grow: 1;
        @media (max-width: $tablet-835) {
            padding-block: toRem(68);
        }
        @media (max-width: $smallMobile) {
            padding-block: toRem(54) toRem(60);
        }
    }
    &__content-body {
        max-width: toRem(505);
        padding-inline: toRem(5);
        margin: 0 auto;
        @media (max-width: $tablet-835) {
            text-align: center;
        }
    }
    // .discount__title-block

    &__title-block {
        & .section-header__title:not(span) {
            font-size: toRem(46);
            @media (max-width: $smallMobile) {
                font-size: toRem(32);
            }
        }
        & .section-header__title span {
            color: $blueColor;
            font-size: toRem(64);
            @media (max-width: $smallMobile) {
                font-size: toRem(36);
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(48);
        }
        @media (max-width: $tablet-835) {
            text-align: center;
        }
    }
}

.upcoming {
    padding-block: toRem(40) toRem(72);

    // .upcoming__title-block

    &__title-block {
        &:not(:last-child) {
            margin-bottom: toRem(75);
            @media (max-width: $tablet) {
                margin-bottom: toRem(51);
            }
            @media (max-width: $mobile) {
                margin-bottom: toRem(20);
            }
        }
        .section-header__title {
            font-size: toRem(46);
            @media (max-width: $mobile) {
                font-size: toRem(32);
            }
        }
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
    // .upcoming__gallery

    &__gallery {
        .upcoming__gallery-line:not(:last-child) {
            margin-bottom: toRem(32);
        }
        & .upcoming__gallery-line:nth-child(even) {
            transform: rotateY(180deg);
            & .gallery-line__item > * {
                transform: rotateY(180deg);
            }
        }
    }
}
.gallery-line {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23.33%, 1fr));
    grid-auto-rows: toRem(298);
    gap: toRem(32) toRem(20);

    @media (max-width: $tablet) {
        grid-template-columns: repeat(2, minmax(40%, 1fr));
    }
    @media (max-width: $mobile) {
        grid-auto-rows: auto;
        gap: toRem(24) toRem(8);
    }

    // .gallery-line__item

    &__item {
        border-radius: toRem(40);
        background-color: #a8a8a8;
        @media (max-width: $mobile) {
            &:nth-child(n + 3) {
                display: none;
            }
        }
    }

    // .gallery-line__item--head

    &__item.gallery-line-head {
        background-color: #ffffff;
    }

    // .gallery-line__item-link

    &__item-link {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        transition: box-shadow 0.3s;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.3);
            }
        }
    }

    // .gallery-line__item-image

    &__item-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: toRem(40);
    }
}

.gallery-line-head {
    padding: toRem(27) toRem(44) toRem(25);
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 201.06%;
        height: 100%;
        border-radius: toRem(40);
        background-color: #ffffff;
        box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.23);
    }
    @media (max-width: $smallMobile) {
        padding-inline: toRem(22);
        padding-block-start: toRem(14);
    }
    & > * {
        margin-bottom: toRem(14);
    }
    & > *:last-child {
        margin-bottom: 0;
    }

    // .gallery-line-head__icon

    &__icon {
        width: toRem(98);
        height: toRem(98);
        background: url("../img/upcoming/hanger-fashion.svg") center / contain no-repeat;
        margin-bottom: toRem(17);
        @media (max-width: $smallMobile) {
            width: toRem(49);
            height: toRem(49);
        }
    }

    // .gallery-line-head__subtitle

    &__subtitle {
        color: $grayColor;
        font-size: toRem(10);
        font-weight: 700;
        letter-spacing: toRem(1.6);
        text-transform: uppercase;
        @media (max-width: $smallMobile) {
            margin-bottom: toRem(4);
        }
    }

    // .gallery-line-head__title

    &__title {
        margin-bottom: toRem(22);
        font-size: toRem(32);
        font-weight: 700;
        text-transform: capitalize;
        @media (max-width: $smallMobile) {
            font-size: toRem(20);
            margin-bottom: toRem(13);
        }
    }

    // .gallery-line-head__link

    &__link {
        width: toRem(44);
        height: toRem(44);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blueColor;
        transition:
            border-radius 0.1s,
            width 0.5s 0.1s;

        @media (max-width: $smallMobile) {
            width: toRem(30);
            height: toRem(30);
        }

        & div {
            width: 100%;
            height: 90%;
            background-color: $darkColor;
            mask: url("../img/icons/arrow-small-right-thin.svg") center/ contain no-repeat;
        }

        @media (any-hover: hover) {
            &:hover {
                width: 100%;
                border-radius: toRem(40);
            }
            &:not(:hover) {
                transition:
                    border-radius 0.1s 0.3s,
                    width 0.3s;
            }
        }
    }
}
.venue {
    // .venue__body

    &__body {
        color: #ffffff;
        padding: toRem(89) toRem(53) toRem(69);
        border-radius: 40px;
        background: $darkColor;
        box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.36);
        background:
            url("../img/pexels-martin-alargent.jpg") center/ cover no-repeat,
            linear-gradient(0deg, rgba(51, 60, 79, 0.63) 0%, rgba(51, 60, 79, 0.63) 100%),
            url(<path-to-image>) lightgray 50% / cover no-repeat;
        @media (max-width: $tablet) {
            padding-block: toRem(60) toRem(64);
        }
        @media (max-width: $mobile) {
            padding: toRem(46) toRem(18) toRem(43);
        }
    }

    // .venue__header

    &__header {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: toRem(50) toRem(20);
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
        & .btn-link {
            @media (min-width: $tablet) {
                margin-top: toRem(-30);
            }
        }
        @media (max-width: $tablet) {
            & .section-header__title {
                font-size: toRem(60);
            }
        }
        @media (max-width: $mobile) {
            & .section-header__subtitle {
                font-size: toRem(10);
            }
            & .section-header__title {
                font-size: toRem(32);
            }
        }
    }

    // .venue__text

    &__text {
        font-weight: 500;
        line-height: 1.625;
        @media (max-width: $mobile) {
            font-size: toRem(14);
            line-height: 1.43;
        }
    }
}
.booking {
    // .booking__container

    &__container {
        padding-block: toRem(46);
        @media (max-width: $tablet) {
            padding-block: toRem(41);
        }
        @media (max-width: $mobile) {
            padding-block: toRem(37);
        }
    }

    // .booking__body

    &__body {
        border-radius: toRem(40);
        background: #fff;
        box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.36);
    }

    // .booking__header

    &__header {
        padding: toRem(73) toRem(72) toRem(55);
        border-radius: toRem(40);
        background-color: $darkColor;
        display: flex;
        gap: toRem(20);

        @media (min-width: $tablet) {
            padding-block: toRem(94) toRem(91);
            &::after {
                content: "";
                flex-shrink: 0;
                width: toRem(276);
                height: toRem(96);
                background: url("../img/decor.svg") center / contain no-repeat;
            }
        }
        @media (max-width: $mobile) {
            padding: toRem(37) toRem(30) toRem(50);
        }

        & .section-header {
            flex-grow: 1;
            color: #ffffff;
            @media (max-width: $mobile) {
                text-align: center;
                .section-header__subtitle {
                    font-size: toRem(10);
                }
                .section-header__title {
                    font-size: toRem(40);
                }
            }
        }
    }
}

.form-booking {
    // .form-booking__wrapper

    &__wrapper {
        padding: toRem(66) toRem(112) toRem(109);
        display: flex;
        flex-direction: column;
        row-gap: toRem(42);
        @media (max-width: $tablet) {
            padding: toRem(50) toRem(44) toRem(87);
            row-gap: toRem(36);
        }
        @media (max-width: $mobile) {
            padding: toRem(30) toRem(20) toRem(79);
        }
        @media (max-width: toRem(400)) {
            padding-inline: toRem(10);
        }
    }

    // .form-booking__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(42) toRem(20);
        @media (max-width: $tablet) {
            flex-direction: column;
            row-gap: toRem(36);
        }
    }

    // .form-booking__input-block

    &__input-block {
        position: relative;
        .form-booking__row & {
            flex-grow: 1;
        }
        &:last-of-type:not(:last-child) {
            margin-bottom: toRem(15);
            @media (max-width: $tablet) {
                margin-bottom: toRem(9);
            }
            @media (max-width: $mobile) {
                margin-bottom: 0;
            }
        }
    }

    // .form-booking__lable

    &__lable {
        position: absolute;
        left: toRem(32);
        right: toRem(32);
        top: toRem(11);
        font-size: toRem(10);
        font-weight: 700;
        letter-spacing: toRem(3.3);
        text-transform: uppercase;
        color: $grayColor;
        @media (max-width: $mobile) {
            font-size: toRem(7);
            letter-spacing: toRem(0.91);
        }
    }

    // .form-booking__input

    &__input {
        border-radius: toRem(40);
        border: toRem(2) solid $darkColor;
        padding: toRem(33) toRem(32) toRem(13);
        font-size: toRem(20);
        overflow: hidden;
        text-overflow: ellipsis;
        @media (max-width: $mobile) {
            font-size: toRem(14);
            padding-inline: toRem(26);
            padding-block-end: toRem(20);
        }
    }
    & .btn-link {
        align-self: flex-start;
        min-width: 21.25%;
        min-height: toRem(50);
        @media (max-width: $tablet) {
            min-width: 38.8%;
        }
        @media (max-width: $mobile) {
            min-width: 100%;
            min-height: toRem(64);
        }
    }
}
