// HERO section

.hero {
    min-height: 100svh;
    display: flex;
    background-color: #ffffff;
    @media (max-width: $mobile) {
        min-height: max-content;
    }

    // .hero__content

    &__content {
        flex: 0 0 100%;
        position: relative;
        z-index: 1;
        @media (min-width: toRem(700)) and (max-width: $tablet-835) {
            flex: 1 1 auto;
            .hero__content-text,
            a {
                display: none;
            }
        }
    }
    // .hero__container

    &__container {
    }
    //hero__content-body
    &__content-body {
        padding-block-start: toRem(186);
        max-width: toVW(584, $maxWidth);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: toRem(54);

        @media (min-width: toRem(700)) and (max-width: $tablet-835) {
            padding-block-start: 0;
            align-items: flex-end;
        }
        @media (max-width: $tablet-835) {
            max-width: 100%;
        }
        @media (max-width: toRem(699.99)) {
            padding-block-start: toRem(97);
            align-items: center;
            padding-inline: toRem(10);
            row-gap: toRem(32);
        }
        @media (max-width: toRem(360)) {
            padding-inline: 0;
        }
    }

    // .hero__title-block

    &__title-block {
        text-shadow: 1px 1px 2px #fff;

        .section-header__subtitle {
            @media (min-width: toRem(700)) and (max-width: $tablet-835) {
                display: none;
            }
        }
        & .section-header__title {
            font-size: toRem(46);
            @media (min-width: toRem(700)) and (max-width: $tablet-835) {
                writing-mode: vertical-rl;
                text-orientation: sideways-right;
                transform: rotate(180deg);
                padding-inline-start: toRem(99);
            }
            @media (max-width: toRem(699.99)) {
                font-size: toRem(30);
            }
        }
        & .section-header__title span {
            color: $blueColor;
        }
        @media (max-width: toRem(699.99)) {
            &.section-header {
                text-align: center;
                & > *:not(:last-child) {
                    margin-bottom: toRem(27);
                }
            }
        }
    }
    //hero__content-text
    &__content-text {
        font-size: toRem(24);
        &:not(:last-child) {
            margin-bottom: toRem(18);
        }
        @media (max-width: toRem(699.99)) {
            max-width: toRem(287);
            padding-inline: toRem(26);
            text-align: center;
            font-size: toRem(20);
            &:not(:last-child) {
                margin-bottom: toRem(15);
            }
        }
    }

    // .hero__content-link

    &__content-link {
        color: $blueColor;
        font-size: toRem(12);
        font-weight: 700;
        letter-spacing: toRem(3.96);
        @media (max-width: toRem(699.99)) {
            font-size: toRem(10);
            letter-spacing: toRem(3.3);
        }
        @media (any-hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .hero__content-mage-block

    &__content-mage-block {
        flex: 0 0 toVW(710, $maxWidth);
        transform: translateX(-100%);
        background-color: $blueColor;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: $tablet) {
            border-radius: toRem(60) 0 0 toRem(60);
            flex-basis: toVW(535, $maxWidth);
        }
        @media (min-width: toRem(700)) and (max-width: $tablet-835) {
            transform: translateX($containerPadding + px);
        }
        @media (max-width: toRem(699.99)) {
            display: none;
        }
    }

    // .hero__image

    &__image {
        width: toRem(566);
        max-height: 86%;
        aspect-ratio: 566 / 746;
        @media (max-width: $tablet) {
            margin-right: toRem(-46);
        }
    }
}
.intro {
    // .intro__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: toRem(100) toRem(96);
        gap: toRem(48);
        @media screen and (max-width: $tablet-835) {
            flex-direction: column;
            padding-block: toRem(71) toRem(40);
        }
        @media screen and (max-width: $mobile) {
            padding-block-start: toRem(63);
            gap: toRem(40);
        }
    }

    // .intro__content

    &__content {
        max-width: toRem(650);
    }

    // .intro__title-block

    &__title-block {
        & .section-header__title {
            font-size: toRem(46);
            @media screen and (max-width: $tablet-835) {
                text-align: center;
            }
            @media screen and (max-width: $smallMobile) {
                font-size: toRem(32);
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(41);
            @media screen and (max-width: $tablet-835) {
                margin-bottom: toRem(28);
            }
            @media screen and (max-width: $smallMobile) {
                margin-bottom: toRem(18);
            }
        }
    }

    // .intro__text

    &__text {
        color: #000000;
        line-height: 1.625;
        @media screen and (max-width: $smallMobile) {
            font-size: toRem(12);
        }
    }

    // .intro__gallery

    &__gallery {
        max-width: toRem(538);
        min-width: toPercent(538, $maxWidthContainer);
        @media screen and (max-width: $tablet-835) {
            max-width: 100%;
            width: 100%;
        }
    }
}

.gallery-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, toRem(172));
    gap: toRem(20) toRem(25);
    @media screen and (max-width: $tablet-835) {
        grid-template-rows: repeat(2, toRem(248));
        gap: toRem(28) toRem(22);
    }
    @media screen and (max-width: $smallMobile) {
        grid-template-rows: repeat(2, toRem(126));
        gap: toRem(14) toRem(11);
    }

    // .gallery-intro__item

    &__item {
    }
    &__item-image {
        width: 100%;
        height: 100%;
        border-radius: toRem(40);
        aspect-ratio: 256 / 172;
        object-fit: cover;
    }
}
.advantages {
    // .advantages__container

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(315), 1fr));
        gap: toRem(20);
        @media screen and (max-width: $tablet-835) {
            gap: toRem(28) toRem(23);
        }
        @media screen and (max-width: $mobile) {
            row-gap: toRem(40);
            grid-template-columns: repeat(auto-fit, minmax(toRem(270), 1fr));
        }
    }
}
.discount {
    padding-block: toRem(189) toRem(56);
    @media (max-width: $tablet-835) {
        padding-block: toRem(50) toRem(19);
    }
    @media (max-width: $smallMobile) {
        padding-block-end: 0;
    }
    // .discount__container

    &__container {
    }
    &__wrapper {
        border-radius: toRem(40);
        background: $darkColor;
        box-shadow: 0px toRem(4) toRem(16) 0px rgba(51, 60, 79, 0.36);
        display: flex;
        @media (max-width: $mobile) {
            padding-inline: toRem(24);
        }
    }

    // .discount__image-block

    &__image-block {
        flex: 0 1 toRem(523);
        position: relative;
        @media (max-width: $tablet-835) {
            display: none;
        }

        &::after,
        &::before {
            content: "";
            width: toRem(276);
            height: toRem(96);
            background: url("../img/decor.svg") no-repeat;
            position: absolute;
        }
        &::before {
            top: toRem(38);
            right: 0;
        }
        &::after {
            bottom: toRem(38);
            left: 16;
        }
    }
    &__image {
        max-width: 100%;
        position: absolute;
        z-index: 1;
        right: toRem(-35);
        bottom: 0;
    }
    // .discount__content

    &__content {
        color: #ffffff;
        padding-block: toRem(104) toRem(95);
        flex-grow: 1;
        @media (max-width: $tablet-835) {
            padding-block: toRem(68);
        }
        @media (max-width: $smallMobile) {
            padding-block: toRem(54) toRem(60);
        }
    }
    &__content-body {
        max-width: toRem(505);
        padding-inline: toRem(5);
        margin: 0 auto;
        @media (max-width: $tablet-835) {
            text-align: center;
        }
    }
    // .discount__title-block

    &__title-block {
        & .section-header__title:not(span) {
            font-size: toRem(46);
            @media (max-width: $smallMobile) {
                font-size: toRem(32);
            }
        }
        & .section-header__title span {
            color: $blueColor;
            font-size: toRem(64);
            @media (max-width: $smallMobile) {
                font-size: toRem(36);
            }
        }
        &:not(:last-child) {
            margin-bottom: toRem(48);
        }
        @media (max-width: $tablet-835) {
            text-align: center;
        }
    }
}
.section-header {
    // .section-header__subtitle

    &__subtitle {
    }

    // .section-header__title

    &__title {
    }
}
