@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";

body {
    font-family: "Montserrat", sans-serif;
    color: $darkColor;

    &::-webkit-scrollbar-thumb {
        background: $darkColor;
        border-radius: 10px;
        box-shadow: inset 0 0 5px grey;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($containerWidth);
    padding-inline: toRem(10);
    margin: 0 auto;
}
@import "common";
@import "header";
@import "main";
@import "footer";
